html {
    background: linear-gradient(35deg, #ffddcc,  #e64d00);
    height: 100vh;
}

body {
    width: 500px;
    margin: 5% auto;
    text-align: center;
}

button {
    border: solid;
    border-width: thin;
    font-weight: bold;
    font-size: 2rem;
}

#calculator {
    text-align: center;
    display: inline-block;
    border: solid;
}

#display {
    height: 5rem;
    font-size: 4rem;
    background-color: lightgray;
}

#keypad {
    display: flex;
}

#calculator-operators {
    display: flex;
}

#operator-buttons {
    display: flex;
    flex-direction: column;
}

#additional-buttons {
    display: flex;
    flex-direction: column;
}



#display {
    text-align: end;
}

.operator {
    width: 6rem;
    height: 5rem;
    background-color: lightyellow;
}

.number {
    width: 6rem;
    height: 5rem;
    background-color: lightblue;
}

.number-zero {
    width: 18.5rem;
}

#clear {
    width: 6rem;
    height: 5rem;
    background-color: lightcoral;
}

#equals {
    width: 6rem;
    height: 15rem;
    background-color: lightgreen;
}
